*{
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ------------------------ヘッダー-------------------- */
.header {
  background: url("../img/photo004.jpg") center top / cover no-repeat fixed;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: 100vh;
  /* background-color: pink; */
}

.header1 {
  background-color: rgb(140, 151, 151);
  height: 100px;
  opacity: .5;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  /* background-color: aqua; */
  padding-left: 5rem;
}

/* -------チェックボックスを消す　追加----- */
.navToggle {
  display: none;
}

.header-right {
  /* width: 25rem; */
  /* background-color: blueviolet; */

  display: flex;
}

.header-right li {
  padding: 10px 20px;
}

.li-right {
  font-size: 1.3em;
  color: white;
}

/* --------------------メイン--------------------- */

.main-section {
  /* width: 800px; */
  /* margin: 0 auto; */
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.main-h1{
  margin: 50px 0 60px;
  text-align: center;
}

.main_p {
  width: 800px;
  padding-bottom: 60px;
}


.table {
  width: 50%;
  height: 140px;
  border-collapse: collapse;
  margin: 0 0 100px;
}

.table-th {
  background-color: #f0f0e1;
}

.td {
  text-align: center;
}

/* -------------------フォトグラフィー ---------------------*/
.photo-grid {
  padding-bottom: 50px;
  background-color: #333333;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-h2 {
  font-size: 50px;
  padding: 80px 0;
}

.photo-h2 {
  color: white;
}

.grid-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-container > li {
  cursor: pointer;
  padding-bottom: 30px;
}

/* ------------------ショップ --------------------*/
.shop {
  width: 910px;
  margin: 0 auto 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-h2 {
  color: black;
}

.shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li_slide {
  position: relative;
  width: 270px;
  height: 150px;
  overflow: hidden;
}
.second {
  position: absolute;
  top: 0;
  left: 0;
}

.second:hover {
  animation-name: slide;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0, 0, 1, 1.36);
  animation-fill-mode: forwards;
  /* animation-play-state: paused; */
}
@keyframes slide {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(300px);
    display: none;
  }
}

.li > p {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.shop7 {
  padding: 30px 0 0 150px;
}
.shop8 {
  padding: 30px 150px 0 0;
}

/* -------------------スライドショー -------------------*/
.about {
  height: 700px;
  background-image: url("../img/photo004.jpg");
  margin-bottom: 70px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.about-p {
  width: 500px;
  padding-bottom: 60px;
  text-align: center;
}

.about-slidder {
  width: 1300px;
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.slideshow {
  display: flex;

  animation-name: loop-slide;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-delay: .5s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes loop-slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%);
  }
}

.about-slidder:hover .slideshow {
  animation-play-state: paused;
}

.content {
  width: 270px;
  height: 170px;
  padding: 10px;
}

/*----------------------- youtube ----------------------*/
.tvcm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.youtube {
  margin-bottom: 100px;
}

/* ---------------------map--------------------------- */
.map {
  padding-bottom: 100px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.iframe-map {
  width: 900px;
  height: 500px;
}

/* --------------------フッター ---------------------*/
.footer {
  height: 300px;
  background-color: #219cde;

}

.footer-p {
  text-align: center;
}

.footer-left {
  /* color: white; */
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}
/* ----------------レスポンシブデザイン------------------------ */

/* ----------------レスポンシブデザイン------------------------ */
@media (max-width:780px) {
  .header1 > .header-left {
    padding-left: 20px;
  }
  
  /* ------ハンバーガーアイコン------ */
  .btn-burger {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    position: absolute;
    top: -35px;
    right: 50px;
  
  }
  
  .icon, .icon::before, .icon::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 35px;
    /* background-color: #444; */
    background-color: black;
    border-radius: 2px;
    content: '';
    cursor: pointer;
    margin: auto;
  }
  
  /* 3本線の間隔 */
  .icon::before {
    top: 20px;
  }
  .icon::after {
    top: -20px;
  }
  
  /* アイコンクリックしたら */
  .navToggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .navToggle:checked ~ .btn-burger .icon::before {
    transform: rotate(-45deg);
    top: 0;
  }
  .navToggle:checked ~ .btn-burger .icon::after {
    transform: rotate(45deg);
    top: 0;
  }
  
  .icon,
  .icon::before,
  .icon::after {
    transition: all .8s;
  }
  
  /* 表示されるメニューの中身 */
  .header-nav {
    width: 100%;
  
    position: relative;
  }
  
  .header-nav a:hover {
    color: gray;
  }
  
  .header-right {
    text-align: center;
    position: fixed;
    display: none;
  
    background-color: rgb(63, 60, 60);
    width: 100%;
  }
  
  .navToggle:checked ~ .header-right {
    display: block;
  
    position: absolute;
    right: 110px;
  }
  
  .header-right {
    flex-direction: column;
  }
  
  /* .btn > .fas {
    font-size: 30px;
    padding-left: 50px;
    padding-bottom: 100px;
    display: block;
  } */
  
  .main_p {
    width: 80%;
  }
  
  /*---------- テーブル ------------------------*/
  .table {
    width: 80%;
  }
  /*---------- テーブル 終わり--------------*/
  /*---------- grid　Photograph--------------*/
  
  .grid-container {
    width: 100%;
  
    justify-content: space-around;
  }
  
  /* ---------------shop------------------- */
  .shop {
    width: 100%;
  }
  .shop-flex {
    justify-content: center;
  }
  
  .shop7, .shop8 {
    padding: 0;
  }
  
  .li {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* ---------------shop終わり------------------- */
  /* -------------------スライドショー -------------------*/
  .about-slidder {
    width: 90%;
  }

  /*----------------------------- map---------------------- */
  .map-1 {
    width: 80%;
  }
  .iframe-map {
    width: 100%;
    height: 500px;
  }

  
  .footer {
    width: 100%;
  }
  
  }