*{
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ------------------------ヘッダー-------------------- */
.header {
  background: url("../img/photo004.jpg") center top / cover no-repeat fixed;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  height: 100vh;
  /* background-color: pink; */
}

.header1 {
  background-color: rgb(140, 151, 151);
  height: 100px;
  opacity: .5;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  /* background-color: aqua; */
  padding-left: 5rem;
}

/* -------チェックボックスを消す　追加----- */
.navToggle {
  display: none;
}

.header-right {
  width: 25rem;
  /* background-color: blueviolet; */

  display: flex;
}

.header-right li {
  padding: 10px 20px;
}

.li-right {
  font-size: 1.3em;
  color: white;
}

/* --------------------メイン--------------------- */

.main-section {
  /* width: 800px; */
  /* margin: 0 auto; */
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.main-h1{
  margin: 50px 0 60px;
  text-align: center;
}

.main_p {
  width: 800px;
  padding-bottom: 60px;
}


.table {
  width: 50%;
  height: 140px;
  border-collapse: collapse;
  margin: 0 0 100px;
}

.table-th {
  background-color: #f0f0e1;
}

.td {
  text-align: center;
}

/* -------------------フォトグラフィー ---------------------*/
.photo-grid {
  padding-bottom: 50px;
  background-color: #333333;
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-h2 {
  font-size: 50px;
  padding: 80px 0;
}

.photo-h2 {
  color: white;
}

.grid-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid-container > li {
  cursor: pointer;
  padding-bottom: 30px;
}

/* ------------------ショップ --------------------*/
.shop {
  width: 910px;
  margin: 0 auto 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-h2 {
  color: black;
}

.shop-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li > p {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.shop7 {
  padding: 30px 0 0 150px;
}
.shop8 {
  padding: 30px 150px 0 0;
}

/* --------------------フッター ---------------------*/
.footer {
  height: 300px;
  background-color: #219cde;

  /* position: relative; */
}

.footer-p {
  text-align: center;
}
/* .footer-btn {
  position: absolute;
  top: -50px;
  left: 640px;
} */

.footer-left {
  /* color: white; */
  font-size: 20px;
  text-align: center;
  padding-top: 100px;
}

/* ----------------レスポンシブデザイン------------------------ */
@media (max-width:780px) {
/* .header1 {
  position: static;
} */
.header1 > .header-left {
  padding-left: 20px;
}

/* ------ハンバーガーアイコン------ */
.btn-burger {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: absolute;
  top: 5px;
  right: 50px;

}

.icon, .icon::before, .icon::after {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 35px;
  /* background-color: #444; */
  background-color: black;
  border-radius: 2px;
  content: '';
  cursor: pointer;
  margin: auto;
}

/* 3本線の間隔 */
.icon::before {
  top: 20px;
}
.icon::after {
  top: -20px;
}

/* アイコンクリックしたら */
.navToggle:checked ~ .btn-burger .icon {
  background: transparent;
}
.navToggle:checked ~ .btn-burger .icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navToggle:checked ~ .btn-burger .icon::after {
  transform: rotate(45deg);
  top: 0;
}

.icon,
.icon::before,
.icon::after {
  transition: all .8s;
}

/* 表示されるメニューの中身 */
.header-nav {
  background-color: pink;
  width: 100%;
  /* position: absolute;
  top: 10px;
  left: 0px; */
  /* z-index: 9999; */
}

.header-nav li {
  /* width: 100%; */
  height: 45px;
  background-color: rgba(0,0,0,1);
}

.header-nav a {
  display: block;
  text-align: center;
  background-color: red;
  font-size: 30px;
  color: white;
}

.header-nav a:hover {
  color: gray;
}

.header-right {
  text-align: center;
  position: fixed;
  display: none;
}

.header-right li {
  padding: 0;
}

.navToggle:checked ~ .header-right {
  display: block;
}

.header-right {
  flex-direction: column;
}

/* .btn > .fas {
  font-size: 30px;
  padding-left: 50px;
  padding-bottom: 100px;
  display: block;
} */

.main_p {
  width: 80%;
}

/*---------- テーブル ------------------------*/
.table {
  width: 80%;
}
/*---------- テーブル 終わり--------------*/
/*---------- grid　Photograph--------------*/

.grid-container {
  width: 100%;

  justify-content: space-around;
}

/* ---------------shop------------------- */
.shop {
  width: 100%;
}
.shop-flex {
  justify-content: center;
}

.shop7, .shop8 {
  padding: 0;
}

.li {
  padding-left: 15px;
  padding-right: 15px;
}
/* ---------------shop終わり------------------- */

.footer {
  width: 100%;
}

}

/* @media (min-width: 780px) {
  ハンバーガーボタン
  .btn-burger {
    display: none;
  }

  .navToggle:checked ~ .header-nav ul {
    display: none;
  }
  .header-nav {
    height: 500px;
  }
  
  .header-nav ul {
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
    
  }
} */